In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
indicators = pd.read_table("/Users/user/Desktop/Yonsei/Junior/3-2/Introduction to Data Analysis and Regression/Homework/indicators2.txt", sep='\t')

In [56]:
indicators

                    MetroArea  PriceChange  LoanPaymentsOverdue
Atlanta                   NaN          1.2                 4.55
Boston                    NaN         -3.4                 3.31
Chicago                   NaN         -0.9                 2.99
Dallas                    NaN          0.8                 4.26
Denver                    NaN         -0.7                 3.56
Detroit                   NaN         -9.7                 4.71
LasVegas                  NaN         -6.1                 4.90
LosAngeles                NaN         -4.8                 3.05
MiamiFt.Lauderdale        NaN         -6.4                 5.63
MinneapolisStPaul         NaN         -3.4                 3.01
NewYork                   NaN         -3.8                 3.29
Phoenix                   NaN         -7.3                 3.26
Portland                  NaN          3.8                 1.93
SanDiego                  NaN         -7.8                 3.45
SanFrancisco              NaN         -4.1                 2.29
Seattle                   NaN          6.9                 1.65
Tampa                     NaN         -8.8                 4.60
WashingtonDC              NaN         -7.2                 3.14

In [58]:
indicators['PriceChange'].mean()

-3.427777777777778

In [59]:
indicators['LoanPaymentsOverdue'].mean()

3.532222222222222

In [74]:
len(indicators.index)

18

In [61]:
SXX = ((indicators['LoanPaymentsOverdue'] - indicators['LoanPaymentsOverdue'].mean())**2).sum()
SXX

19.16011111111111

In [62]:
SYY = ((indicators['PriceChange'] - indicators['PriceChange'].mean())**2).sum()
SYY

347.0161111111111

In [63]:
SXY = ((indicators['LoanPaymentsOverdue'] - indicators['LoanPaymentsOverdue'].mean())*(indicators['PriceChange'] - indicators['PriceChange'].mean())).sum()
SXY

-43.0818888888889

In [64]:
beta1 = SXY / SXX
beta1

-2.248519783578152

In [65]:
beta0 = indicators['PriceChange'].mean() - beta1 * indicators['LoanPaymentsOverdue'].mean()
beta0

4.514493768883272

In [87]:
s = (SYY / (len(indicators.index)-2))**(1/2)
s

4.657092112514465

In [83]:
import scipy.stats as st

In [88]:
st.t.ppf(0.975, len(indicators.index)-2)

2.1199052992210112

In [89]:
beta1 - st.t.ppf(0.975, len(indicators.index)-2) * s / (SXX)**(1/2)

-4.503964968807471

In [90]:
beta1 + st.t.ppf(0.975, len(indicators.index)-2) * s / (SXX)**(1/2)

0.00692540165116684